# Combine/Merge All The Data from (https://zenodo.org/records/14227098)

## Merge per Month Data into One CSV

In [19]:
from src.utils.data_loader import load_or_merge_csvs

df = load_or_merge_csvs("../data/raw", "../data/raw/merged_tweets.csv")
df.head()

Loading merged dataset from ../data/raw/merged_tweets.csv

,date,content,lang,month,weekofyear,quarter
0,2022-04-29 23:59:28+00:00,"@KunstJonas ""Singing lullabies like 'Twinkle T...",en,NaN,NaN,NaN
1,2022-04-29 23:58:50+00:00,"Useful, but one of the problems with Long COVI...",en,NaN,NaN,NaN
2,2022-04-29 23:58:28+00:00,@AnneMaine3 @Reactively @freemarketrules @Dail...,en,NaN,NaN,NaN
3,2022-04-29 23:58:22+00:00,@NSWHealth Dr Moy ( VP AMA)- C19 not done with...,en,NaN,NaN,NaN
4,2022-04-29 23:57:56+00:00,@MandateMasksNY @GovKathyHochul @DrMaryTBasset...,en,NaN,NaN,NaN

## Filter Out other Language and Save it

In [24]:
df_en = df[df['lang'] == 'en']

df_en.to_csv("../data/raw/merged_tweets_en.csv", index=False)

df_en.head()

,date,content,lang,month,weekofyear,quarter
0,2022-04-29 23:59:28+00:00,"@KunstJonas ""Singing lullabies like 'Twinkle T...",en,NaN,NaN,NaN
1,2022-04-29 23:58:50+00:00,"Useful, but one of the problems with Long COVI...",en,NaN,NaN,NaN
2,2022-04-29 23:58:28+00:00,@AnneMaine3 @Reactively @freemarketrules @Dail...,en,NaN,NaN,NaN
3,2022-04-29 23:58:22+00:00,@NSWHealth Dr Moy ( VP AMA)- C19 not done with...,en,NaN,NaN,NaN
4,2022-04-29 23:57:56+00:00,@MandateMasksNY @GovKathyHochul @DrMaryTBasset...,en,NaN,NaN,NaN